<body>
    <div class="container">
        <h2>Add a Videogame to the Database</h2>
        <form [formGroup]="myForm"  (ngSubmit)="submitHandler()">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="game">Videogame:</label>
                    <input formControlName="game" type="text" class="form-control" id="game" name="game">
                   
                    <span *ngIf="game.errors && game.touched">
                        That doesn't look legit
                    </span>
                </div>
                <div class="form-group col-md-6">
                    <label for="price">Add a Price:</label>
                    <input formControlName="price" type="text" class="form-control" id="price" name="price">
                    <span *ngIf="price.errors?.min && price.touched">
                        Minimun price is 1$
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label for="description">Add a Description:</label>
                <input formControlName="description" type="text" class="form-control" id="descript" name="description">
                <span *ngIf="description.errors?.maxLength && description.touched">
                    Max chars are 280
                </span>

            </div>

           

            <div class="form-group">
                <label for="imageUrl">Add a URL:</label>
                <input formControlName="imageUrl" type="text" class="form-control" id="imageUrl" name="imageUrl">
                <span *ngIf="imageUrl.errors && imageUrl.touched">
                    That doesn't look legit
                </span>
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">Submit</button>
        </form>
       
    </div>

    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-autohide="false">
        <div class="toast-header">
          <img src="..." class="rounded mr-2" alt="...">
          <strong class="mr-auto">Bootstrap</strong>
          <small>You suck</small>
          <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">
                &times;</span>
          </button>
        </div>
        <div class="toast-body">
          Succeeded!
        </div>
    </div>

</body>
