<h5 class="placeholder">Hi There!</h5>

<!--Testing copy paste for rows and columns from Bootstrap-->


<div class="row">

    <div class="col-sm-4" style="width: 18rem" *ngFor="let videoGame of videoGames">

        <div class="card" [routerLink]="['video-games/view-game',videoGame.id]" >
            <div class="card-header">
                <img src="{{ videoGame.imageUrl }}" class="card-img-top" alt="...">
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ videoGame.name }}</h5>
                <p class="card-text">{{ videoGame.description }}</p>

            </div>
        </div>
    </div>

</div>