/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
$primary: #007BFF;

html {
    height: 100%;

}

body {
    margin: 0;
    font-family: 'Nunito', 'sans-serif';
    font-size: 18px;
    height: 100%;
}


.container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    margin-top: 2em;

}
.placeholder {
    text-align: center;
    padding: 2em;
}

footer {
    background: $primary;
    line-height: 50px;
    padding: 0 20;
    position: sticky;

    a {
        color: white;
        text-decoration: none;
   
        &hover {color: darken($primary,90%);}
    }
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}

.push,
.footer {
    height: 50px;
}